.Button {
    width: 100px;
    background-color: rgb(123, 123, 252);
    border: solid 1px rgb(150, 150, 244);
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .Button:hover {
    width: 100px;
    background-color: rgb(150, 150, 244);
    border: solid 1px rgb(123, 123, 252);
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
  }


.ConfirmButton{
    width: 100px;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 0.3s;
    background-color: rgb(4, 156, 4);
    border: solid 1px rgb(123, 123, 252);
}

.ConfirmButton:hover {
    background-color: rgb(9, 192, 9);
    border: solid 1px rgb(123, 252, 138);
    transition: 0.3s;
    cursor: pointer;
  }


.CancelButton{
    width: 100px;
    border-radius: 4px;
    font-size: 1.1rem;
    transition: 0.3s;
    background-color: red;
    border: solid 1px rgb(123, 123, 252);
}

.CancelButton:hover {
    background-color: rgb(247, 91, 91);
    border: solid 1px rgb(247, 64, 64);
    transition: 0.3s;
    cursor: pointer;
  }
