.Header{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

.Logotipo{
  position: absolute;  
  width: 5%;
  height: 10%;
  border: solid 1px red;
  margin-left: 10px;
}

.Title{
    font-size:2rem;
    text-align: center;
    width: 100%;
}