.PeopleProfile{
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
}

#HeaderProfile{
    height: 6rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Edit-icon{
    color: rgb(123, 123, 252);
    font-size: 2rem;
    cursor: pointer;
}

